#fil1{
    background-color: rgb(0, 89, 255);
    
}
#fil2{
    background-color: rgb(65, 69, 109);
    height: 200px;
}

#fil3{
    background-color: rgb(28, 201, 201);
    height: 200px;
}
#fil4{
    background-color:rgb(141, 83, 248);
    height: 200px;
}
#fil5{
    background-color:rgb(173, 70, 204)
    
}
#fil6{
    background-color:rgb(180, 44, 101)
    
}