*{
    margin:0;
    padding:0;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    }
    
    #contenedor{
    width:90%;	
    margin:auto;	
    }
    
    header{
        
        display:inline-block;
        width: 20%;
        height:30px;
        margin:1em;
    }
    
    nav{
    display:inline-block;	
    width: 60%;	
    height:30px;
    margin:1em;
    }
    
    
    .menu_id{
    display: inline-block;
    margin:10px;	
    padding:15px;
    }
    
    
    
    
    #imagen1{
    display:inline-block;
    width: 50%;
    height:400px;		
    margin:.5em; 
    }
    
    #imagen1-texto{
    display:inline-block;	
    width: 40%;		
    height:400px;
    margin:.1em;
    }
    
    .img-1{
    width: 100%;		
    display: block;
     margin: auto;
    }
    .img-2{
    width: 90%;		
    height:50%;
    display: block;
    margin: auto;
    }
    
    
    #sub-imagen{	
    display:block;	
    margin: auto;
    }
    
    #seccion-inferior{
    display:block;
    width:100%;
    margin:10px;
    }
    .secuencia-img{
    display:inline-block;	
    width:20%;
    }
    
    .secuencia-img img{	
    width: 70%;
    display: block;
    margin: auto;
    }
    .menu_id a{
    text-decoration:none;
    color:#000000;
    }
    .menu_id:hover{
    background-color: green;
    border-radius:.5em;
    
    }
    
    .menu_id:hover a{
    color:#ffffff;
    
    }
    
    @media screen and (max-width:800px){/*aca se muestra las configuraciones cuando la pantalla tiene un ancho de 800px*/
    
    header{
        
        display:block;
        width: 100%;
        height:30px;
        margin:1em;
    }
    
    nav{
    display:block;	
    width: 100%;	
    height:30px;
    margin:1em;
    }
    
    #imagen1{
    display:block;
    width: 100%;
    height:400px;		
    margin:.5em; 
    }
    
    #imagen1-texto{
    display:block;
    position: relative;	
    width: 500px;		
    height:400px;
    margin:.1em;
    }
    
    #sub-texto{
    position:absolute;
    top:10%;
    left:500px;
    font-size: 10px;
    }
    
    }